<div class="container">
<h1><%= @restaurant.name %></h1>
<ul class="list-group">
  <li class="list-group-item"><%= @restaurant.address %></li>
  <li class="list-group-item"><%= @restaurant.category %></li>
  <li class="list-group-item"><%= @restaurant.phone_number %></li>
</ul>

<br>

<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %></li>
    <li class="list-group-item"><%= review.rating %></li>
    <br>
  <% end %>
</ul>


<p><%= link_to "Back to the list of restaurants", "/restaurants" %></p>
<p><%= link_to 'Leave a review', new_restaurant_review_path(@restaurant) %></p>
</div>
